extends ../layout

block content 
    h1 Routes 
    if (isLoggedIn && isAdmin)
        a(href="/route/create")
            button.form__button Create New Route
    section.route__list
        if routes
            each route in routes 
                include routeCard
        else 
            p.error There is no route available
        