doctype html
html
  head
    title Add New Route
  body
    include navbar.pug
    h1 Add New Route
    form(action="/routes" method="POST")
      label(for="location") Location:
      input(type="text" name="location" required)
      br
      label(for="difficulty") Difficulty:
      select(name="difficulty")
        option(value="Easy") Easy
        option(value="Medium") Medium
        option(value="Hard") Hard
      br
      label(for="durationMins") Duration (in minutes):
      input(type="number" name="durationMins" required)
      br
      button(type="submit") Add Route
