doctype html
html
  head
    title Photos for Trip
  body
    include navbar.pug
    h1 Photos for Trip
    ul
      each photo in photos
        li
          img(src=photo.url, alt="Photo for trip")
    a(href="/trips") Return to trips
