header
  nav
    ul 
      li 
        a(href="/") Home 
      li 
        a(href="/trips") Trips
      
      if isLoggedIn
        li
          span #{name} 
          if isAdmin
            |  (Admin)
        li 
          a(href="/logout") Logout
        if isAdmin
          li 
            a(href="/admin/users") Members list
          li
            a(href="/admin/trips/add") Add trip
      else
        li 
          a(href="/signup") Become a member
        li
          a(href="/login") Sign in
