header
    nav.header__menu
        ul 
            li 
                a(href="/") Home 
            li
                a(href="/route") Routes 
            li 
                a(href="/trip") Trips
            li 
                a(href="/photos") Photos
            li 
                a(href="/reviews") Reviews
            if (isLoggedIn && isAdmin)
                li 
                    a(href="/member") Members list 
            if !isLoggedIn
                li 
                    a(href="/auth/register") Be a member
                li
                    a(href="/auth/login") Sign in
            else
                li 
                    a(href="/auth/logout") Logout
                span #{name} 
                if isAdmin 
                    |  -Admin
