header
    nav
        ul 
            li 
                a(href="/") Home 
            li
                a(href="/route") Routes 
            li 
                a(href="/trip") Trips
            li 
                a(href="/photos") Photos
            li 
                a(href="/reviews") Reviews
            li 
                a(href="/auth/register") Be a member
            li
                a(href="/auth/login") Sing in
