extends ../layout

block content 
    h1 Members 
    a(href="/member/create")
        button.form__button Create New member
    section.member__list
        if members
            each member in members 
                include memberCard
        else 
            p.error There is no member available
        