extends ../layout

block content 
    h1 Members 
    a(href="/member/create")
        button Create New member
    section(class="member-list")
        if members
            each member in members 
                include memberCard
        else 
            p There is no member available
        