extends ../layout

block content 
    form(action="/auth/login", method="post") 

        label.form__label(for="email") Email
        input.form__input(type="text" name="email" id="email" value="pedro@gmail.com")

        label(for="password") Password
        input.form__input(type="password" name="password" id="password" value="1234")
        
        button Sign in

