extends ../layout
block content  
    h1 New Member
    form(action="/auth/register", method="post") 
         
        label(for="name") Name 
        input(type="text" name="name" id="name" required) 
        
        label(for="email") Email
        input(type="email" name="email" id="email" required)
        br
        label(for="password") Password
        input(type="password" name="password" id="password" required)
        
        label(for="firstAid") First aid knowledge 
        select(name="firstAid")
            option(value=0) No 
            option(value=1) Yes   
        button Sign up

